*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #dda0dd; */
    /* width: 100%; */
}
body{
    padding: 200px;
    background-image: linear-gradient(30deg, rgb(247, 13, 13), rgb(255, 213, 0)); ;
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; */
}
.empty{
    border: 9px solid ;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    height: 1100px;
    margin: auto auto;
    /* box-sizing: border-box; */
    /* position: relative; */
    background-image: linear-gradient(to right, rgb(18, 200, 112), rgb(8, 165, 8)); ;
}
.container{
    /* position: absolute; */
    z-index: 2;
    border: 9px solid ;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    height: 1100px;
    margin: auto auto;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(234, 146, 4), rgb(198, 168, 127)); ;
   
}

#againbtn{
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
    margin-bottom: 200px;
    background-color: transparent;
}
#againbtn .again {
    width: 120px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgb(78, 3, 49);
    /* border: none; */
    border-radius: 20px;
    font-size: 23px;
    cursor: pointer;
}
#againbtn h2{
    font-size: 3rem;
}
.bigheading{
font-size: 4rem;
width: 100%;
height: 80px;
display: flex;
justify-content: center;
margin: 0px auto 150px auto;
/* border: 2px solid black; */
}
.questionmark{
    /* background-color: white; */
    border: 2px solid ;
    width: 180px;
    height: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.questionmark h2{
    background-color: rgb(197, 144, 87);
    font-size: 90px;
    border-radius: 40px;
}
.upperQmark{
    display: flex;
    justify-content: center;

}
.userinput{

    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
}
.input {
    display: flex;
    flex-direction: column;

}
/* .checkBtn {
    display: block;
    font-size: 24px;
    width: 200px;
    height: 80px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: #dbb7db;
    cursor: pointer;
} */
.checkBtn {
    width: 120px;
    margin-top: 20px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgb(78, 3, 49);
    /* border: none; */
    border-radius: 20px;
    font-size: 23px;
    cursor: pointer;
}
.number{
    color: rgb(0, 0, 0);
    height: 100px;
    width: 280px;
    border: 1px solid;
    cursor: pointer;
    background-color: transparent;
    font-size: 2.2rem;
    border-radius: 20px;

    
}
.text {
    font-size: 2rem;
}
.text .Start{
    margin-bottom: 5rem;
    font-size: 3.2rem;

}